.contact-content{
    height: 88vh;
    /* background-color: cadetblue; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 48px;
}

/* Mrunal you have to learn about positions
Also learn all the css use in below .content::after   */
.contact-content::after{
    content: "";
    background-image: url('../img/some.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    z-index: -1;
}

.mx-2{
    margin-left: 10px;
}

.form-btn{
    margin-right: 17px;
    padding: 3px 10px;
    border: 2px solid black;
    border-radius: 12px;
    font-family: var(--font1);
    
    /* this will convert cursor into pointer when hover the button */
    cursor: pointer;

    /* This will gradually change the color when we will hover over it */
    transition: all 0.3s ease-in-out;
}

.form-btn:hover{
    background: cornflowerblue;

}
