@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --font1: 'Ubuntu', sans-serif;
}
.max-width1{
    width: 75vw;
}

.max-width2{
    width: 55vw;
}

.m-auto{
    margin: auto;
}

.form-input{
    padding: 3px 2px;
    font-size: 14px;
    font-family: var(--font1);
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 8px;

}

.btn{
    margin-right: 17px;
    padding: 3px 10px;
    border: 2px solid black;
    border-radius: 12px;
    font-family: var(--font1);
    
    /* this will convert cursor into pointer when hover the button */
    cursor: pointer;

    /* This will gradually change the color when we will hover over it */
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background: cornflowerblue;

}